/* home.css */
.bg-water-pattern {
  /* background-image: url('https://cdn.vectorstock.com/i/500p/43/18/water-splash-vector-1294318.jpg'); */
  background-image: url('https://media.istockphoto.com/id/486846754/vector/blue-water-splash.jpg?s=612x612&w=0&k=20&c=nDg3Lld8bj_GP8u7f76IWNSyRj-NkRn1O1kSfKuUQeM='); 

  background-size: cover;
  background-position: center;
  animation: waterFlow 10s infinite linear alternate;
}

@keyframes waterFlow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.shadow-xl {
  box-shadow: 0px 10px 20px rgba(0, 0, 255, 0.2);
}

.backdrop-blur-lg {
  backdrop-filter: blur(10px);
}

.text-blue-800 {
  color: #004080;
}

.drop-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 255, 0.3);
}

.rounded-4xl {
  border-radius: 30px;
}
